<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="job_notifier.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="job_notifier.commands.category"
            id="job_notifier.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="job_notifier.handlers.SampleHandler"
            commandId="job_notifier.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
</plugin>
